* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #373737;
}
.container {
    /*SOLVE THE BORDER ISSUE, MAKE IT FIT THE CONTENT*/
    border-radius: 10px;
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item {
    padding: 5px;
    border: 1px solid black;
}
.middle-container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.leftside {}

.header {
    flex-basis: 37%;
}

.rightside {}
.empty-middle {
    height: 30%;
}*/

.footer {
    flex-basis: 37%;
}

h2 {
    float: right;
    font-size: 1.5em;
}

.buy-button {
    float: right;
    border-radius: 5px;
    border: 1px;
    width: 85%;
    height: 25%;
}

.button-text {
    font-size: 1.2em;
}

.compare-check {
    background-color: aliceblue;
}

.pick-up-points {
}