* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #373737;
}

.container {
    /*SOLVE THE BORDER ISSUE, MAKE IT FIT THE CONTENT*/
    border-radius: 10px;
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: center;    
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
}

.item {
    padding: 5px;
    /*
    border: 1px solid black;*/
}

.middle-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;
}

.rightside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.empty-middle {
    height: 50%;
}


h2 {
    float: right;
    font-size: 1.5em;
}

.buy-button {
    border-radius: 5px;
    border: 1px;
    padding: 15px;
}
.button-link {    
    text-decoration: none;
    color: inherit;
}

.button-text {
    font-size: 1.2em;
}

.compare-check {
    background-color: aliceblue;
}
