* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #373737;
}

.container {
    border-radius: 10px;
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 720px;
    max-height: 284px;
    margin: 0 auto;
    min-width: 320px;
    overflow-x: auto;
}

.item {
    padding: 5px;
    
    border: 1px solid black;
}


.watch-link {
    width: 100%;
}

.watch-img {
    object-fit: contain;
    width: 100%;
}

.middle-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
}

.footer-link-lines {
    margin: 0 auto;
}

.rightside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h2 {
    float: right;
    font-size: 1.5em;
}

.buy-button {
    border-radius: 5px;
    border: 1px;
    padding: 15px;
}

.button-link {
    text-decoration: none;
    color: inherit;
}

.button-text {
    font-size: 1.2em;
}

.compare-check {
    background-color: aliceblue;
}

/* xxs */
@media (max-width: 412px) {

    .middle-container {
        font-size: 11px;
    }

    .header, .footer {
        overflow: auto;
    }

    h2 {
        font-size: 18px;
    }

    .buy-button {
        padding: 11px;
    }

    .button-text {
        font-size: 0.8em;
    }

    .footer {
        font-size: 11px;
    }
}

@media (max-width: 475px) { /*//!!!!!!!!!!!!!!!! */
    /*.leftside, .rightside {
        display: grid;     
        grid-template-columns: auto 1fr;
        grid-template-rows: auto fr;
        
    }*/
    .container {
        flex-direction: column;            
    }

    .leftside {
    }

    .header, .footer {
        overflow: auto;
    }
    .rightside {
        display: flex;
        grid-row: 1;
        grid-column: 2;

        /*
        align-self: flex-end;*/
    }
}

/* xs */
@media (max-width: 640px) {
    .watch-small {}

    .middle-container {
        font-size: 12px;
    }

    .header {
        overflow: auto;
    }

    h2 {
        font-size: 21px;
    }

    .buy-button {
        padding: 12px;
    }

    .button-text {
        font-size: 1.2em;
    }

    .footer {
        font-size: 12px;
    }
}

/* sm */
@media (max-width: 720px) {
    .middle-container {
        font-size: 14px;
    }

    .buy-button {
        padding: 15px;
    }

    .footer {
        font-size: 14px;
    }

}

@media (max-width: 768px) {
    .leftside.a {
        max-width: 120%;
    }
}